 {% extends 'base.html' %} 
 {% load static %}       
         
         {% block content %}
            <div class="form-container">
                <section>
                    <h2 style="text-align: center;">You are currently logged in as {{ request.user.username }}</h2>
                </section>
                <div class="form">
                    <h2>Reset Password</h2>
                    <form method="post">

                        {% csrf_token %}
                        {{ form.as_p }}
                      
                    
                       

                        <button type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
     {% endblock %}