{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block requests_active %}
class="active-link"
{% endblock %}


{% block content %}
<style>
  

    .btns > a:first-child{
        color: rgb(15, 158, 15);
    }

    .btns > a:hover{
        text-decoration: underline;
    }

    .btns > a:last-child{
        margin-left: 20px;
        color: rgb(255, 22, 22);
    }


</style>
    
    <div class="dashboard-container">
        <div class="transaction-history">
            <h2>Requests For You</h2>
          
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Request From</th>
                       
                        <th>Amount</th>
                        <th>Requested At</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in requests_qs %}
                    {% if not request.user == item.request_from.user %}
                    <tr>
                        <td><a style="color: royalblue;" href="{% url 'transaction:request_money_detail' item.id %}">{{ item.id }}</a></td>
                        <td><a style="color: white" href="{% url 'transaction:request_money_detail' item.id %}">{{ item.request_from.full_name }} </a></td>
                      
                        <td>{{ item.amount }}</td>
                        <td>{{ item.requested_at }}</td>
                        
                        {% if not item.is_rejected %}
                        <td>{% if item.is_accepted == True %} Request Accepted {% else %} Pending {% endif %}</td>
                        {% else %}
                        <td>Rejected</td>
                        {% endif %}
                        
                        {% if item.is_accepted == False %}
                        {% if item.is_rejected == False %}
                        <td class="btns">
                            <a href="{% url 'transaction:accept_request' item.id %}">Make Payment</a>
                            <a href="{% url 'transaction:reject_request' item.id %}">Reject</a>
                        </td>
                        {% endif %}
                        {% endif %}
                    </tr> 
                    {% endif %}
                    
                    {% if forloop.counter == 0 %}
                   
                    <tr>
                        <td style="text-align: center;" colspan="6">No Requests for You</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
   
                </tbody>
            </table>
        </div>

        <br>
        <div class="transaction-history">
            <h2>Your Requests</h2>
          
            <table class="money-requests-table">
                <thead>
                    <tr>
                        <th>ID</th>
                       
                        <th>Request To</th>
                        <th>Amount</th>
                        <th>Requested At</th>
                        <th>Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in requests_qs %}
                    
                    {% if request.user == item.request_from.user %}
                  
                    <tr>
                        <td><a style="color: royalblue;" href="{% url 'transaction:request_money_detail' item.id %}">{{ item.id }}</a></td>
                       
                        <td>{{ item.request_to.full_name }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.requested_at }}</td>
                        
                        {% if not item.is_rejected %}
                        <td>{% if item.is_accepted == True %} Request Accepted {% else %} Pending {% endif %}</td>
                        {% else %}
                        <td>Rejected</td>
                        {% endif %}
                        
                    </tr> 
                    {% endif %}
                    {% if forloop.counter == 0 %}
                   
                    <tr>
                        <td style="text-align: center;" colspan="6">No Requests</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
   
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
